#useDynLib(CellTypeProfiles)
exportPattern("CTP*")
import(RColorBrewer)
import(pROC)
import(permute)
import(heatmap3)
importFrom("edgeR", "calcNormFactors")
importFrom("igraph", "components", "graph_from_edgelist")
importFrom("grDevices", "col2rgb", "colorRampPalette")
importFrom("graphics", "abline", "axis", "box", "curve", "frame", "hist", "image", "legend", "lines", "mtext", "par", "points", "text", "title")
importFrom("stats", "aggregate", "dist", "fitted", "glm", "hclust", "lm", "median", "p.adjust", "quantile", "rnorm", "sd", "uniroot", "var", "wilcox.test")
