#useDynLib(CellTypeProfiles)
exportPattern("*")
import(RColorBrewer)
import(permute)
import(heatmap3)
import(M3Drop)
importFrom("pROC", "roc")
importFrom("edgeR", "calcNormFactors")
importFrom("igraph", "components", "graph_from_edgelist")
importFrom("matrixStats", "rowVars")
importFrom("preprocessCore", "normalize.quantiles")
importFrom("grDevices", "col2rgb", "colorRampPalette", "rainbow")
importFrom("graphics", "abline", "axis", "box", "frame", "hist", "image", "legend", "lines", "mtext", "par", "points", "text", "title", "layout", "plot", "plot.new", "rect")
importFrom("stats", "aggregate", "dist", "fitted", "glm", "hclust", "lm", "median", "p.adjust", "quantile", "rnorm", "sd", "uniroot", "var", "wilcox.test", "as.dist", "cor", "cutree", "kruskal.test", "reorder", "as.dendrogram", "density", "order.dendrogram")
importFrom("utils", "combn")
